﻿@using ExampleApplication.Extensions;

@model ExampleApplication.Services.Models.OrdersQueryParameters

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@section scripts{
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/jquery.mark.min.js")" type="text/javascript"> </script>
    <script>
        /**
         01/01/0001 00:00:00
         */
        var options = {
            format: 'yyyy-mm-dd',
            autoclose: true
        };

        (function () {

            $(".datepicker").datepicker(options).on('click', function () {
                $('.datepicker').click(function (e) {
                    e.stopPropagation(); // prevent clicks on datepicker from collapsing 'parent'
                });
            });
        })();

    </script>
}


<div class="panel">
    <div class="panel-heading">
        <form method="get" action="@Url.Action("Index")" class="form-inline">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.OrderDate)
                        @Html.QueryInputFor(x => x.OrderDate)
                    </div>
                    <div class="form-group">
                        @Html.QueryOperatorsFor(x => x.OrderDate)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.ShipAddress)
                        @Html.QueryInputFor(x => x.ShipAddress)
                    </div>
                    <div class="form-group">
                        @Html.QueryOperatorsFor(x => x.ShipAddress)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.ShipRegion)
                        @Html.QueryInputFor(x => x.ShipRegion)
                    </div>
                    <div class="form-group">
                        @Html.QueryOperatorsFor(x => x.ShipRegion)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.ShipName)
                        @Html.QueryInputFor(x => x.ShipName)
                    </div>
                    <div class="form-group">
                        @Html.QueryOperatorsFor(x => x.ShipName)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.ShippedDate)
                        @Html.QueryInputFor(x => x.ShippedDate)
                    </div>
                    <div class="form-group">
                        @Html.QueryOperatorsFor(x => x.ShippedDate)
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.OrderBy)
                        @Html.QueryOrderBy(x => x)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Order)
                        @Html.QueryOrder(x => x)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.PageSize)
                        @Html.QueryPageSize(x => x.PageSize)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button class="btn btn-default" type="submit">Get</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">@Html.QueryTotalrecords(x => x)</div>
                <div class="col-md-8">
                    @Html.QueryPager(x => x, "Index", "Orders")
                </div>
                <div class="col-md-2"></div>
            </div>
        </form>
    </div>

    <div class="panel-body">
        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Order date
                        </th>
                        <th>
                            Required date
                        </th>
                        <th>
                            Shipped date
                        </th>
                        <th>
                            Ship address
                        </th>
                        <th>
                            Ship region
                        </th>
                        <th>
                            Ship name
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{ int row = Model.PageSize * (Model.Page - 1); }
                    @foreach (var entry in Model.Results)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("OrderDetails", "Orders", new { orderId = entry.OrderID })">
                                    @(++row)
                                </a>
                            </td>
                            <td>
                                @entry.OrderDate
                            </td>
                            <td>
                                @entry.RequiredDate
                            </td>
                            <td>
                                @entry.ShippedDate
                            </td>
                            <td>
                                @entry.ShipAddress
                            </td>
                            <td>
                                @entry.ShipRegion
                            </td>
                            <td>
                                @entry.ShipName
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                @Html.QueryPager(x => x, "Index", "Orders")
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>