﻿@using ExampleApplication.Extensions;
@model ExampleApplication.Services.Models.OrderDetailsViewModel

@{
    ViewBag.Title = "Order info";
}

<h2>Order info</h2>

<div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Order info
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        @Html.CustomDisplay(x => x.OrderDate)
                        @Html.CustomDisplay(x => x.RequiredDate)
                        @Html.CustomDisplay(x => x.ShippedDate)
                        @Html.CustomDisplay(x => x.ShipVia)
                        @Html.CustomDisplay(x => x.Freight)
                        @Html.CustomDisplay(x => x.ShipName)
                        @Html.CustomDisplay(x => x.ShipAddress)
                        @Html.CustomDisplay(model => model.ShipCity)
                        @Html.CustomDisplay(model => model.ShipRegion)
                        @Html.CustomDisplay(model => model.ShipPostalCode)
                        @Html.CustomDisplay(model => model.ShipCountry)
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Employee info
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        @Html.CustomDisplay(x => x.Employee.FirstName)
                        @Html.CustomDisplay(x => x.Employee.LastName)
                        @Html.CustomDisplay(x => x.Employee.Address)
                        @Html.CustomDisplay(x => x.Employee.City)
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Customer info</div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        @Html.CustomDisplay(x => x.Customer.CompanyName)
                        @Html.CustomDisplay(x => x.Customer.Address)
                        @Html.CustomDisplay(x => x.Customer.PostalCode)
                        @Html.CustomDisplay(x => x.Customer.City)
                        @Html.CustomDisplay(x => x.Customer.Region)
                        @Html.CustomDisplay(x => x.Customer.Country)
                        @Html.CustomDisplay(x => x.Customer.ContactName)
                        @Html.CustomDisplay(x => x.Customer.ContactTitle)
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Order details</div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Product name</th>
                        <th>Quantity</th>
                        <th>Unit price</th>
                        <th>Discount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var detail in Model.OrderDetails)
                    {
                        <tr>
                            <td>@detail.ProductName</td>
                            <td>@detail.Quantity</td>
                            <td>@detail.UnitPrice</td>
                            <td>@detail.Discount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
